<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cosine</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Cosine</display-name>
    <servlet-name>Cosine</servlet-name>
    <servlet-class>cosine.Cosine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cosine</servlet-name>
    <url-pattern>/Cosine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertjobs</display-name>
    <servlet-name>Insertjobs</servlet-name>
    <servlet-class>temp.Insertjobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertjobs</servlet-name>
    <url-pattern>/Insertjobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallJobFromServlet</display-name>
    <servlet-name>CallJobFromServlet</servlet-name>
    <servlet-class>temp.CallJobFromServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallJobFromServlet</servlet-name>
    <url-pattern>/CallJobFromServlet</url-pattern>
  </servlet-mapping>
</web-app>